---
- name: Make lua dir
  file:
    path: "{{ nginx_install }}/lua"
    state: directory

- name: Clone lua-resty-core repo
  git:
    repo: https://github.com/openresty/lua-resty-core.git
    dest: "{{ src_location }}/lua-resty-core"
    version: v0.1.18rc1

- name: Install lua-resty-core
  synchronize:
    src: "{{ src_location }}/lua-resty-core/lib/"
    dest: "{{ nginx_install }}/lua"
    archive: yes
  delegate_to: "{{ inventory_hostname }}"

- name: Clone lua-resty-lrucache repo
  git:
    repo: https://github.com/openresty/lua-resty-lrucache.git
    dest: "{{ src_location }}/lua-resty-lrucache"
    version: v0.10rc1

- name: Install lua-resty-lrucache
  synchronize:
    src: "{{ src_location }}/lua-resty-lrucache/lib/"
    dest: "{{ nginx_install }}/lua"
    archive: yes
  delegate_to: "{{ inventory_hostname }}"
